{% block autocomplete_widget %}
    <div class="control-group autocomplete_div">
        <input type="text" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" {{ block('widget_attributes') }} />
        <select class="autocomplete_select" data-target="#{{ form.vars.id }}" data-route={{ route }}{% if route_params is not empty %} data-route-params="{{ route_params|json_encode }}"{% endif %}>
            {% if ( object ) %}
                <option class="autocomplete_placeholder" value="{{ object.id }}">{{ method ? attribute(object, method) : object }}</option>
            {% else %}
                <option class="autocomplete_placeholder" value=""></option>
            {% endif %}
        </select>
    </div>
{% endblock %}