{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% if type != 'hidden' and widget_addon.type|default(null) is not null %}
            <div class="input-{{ widget_addon.type }}">
            {% if widget_addon.type == 'prepend' %}
                {{ block('widget_addon') }}
            {% endif %}
        {% endif %}
        {% if not widget_remove_btn|default(null) %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' not-removable'}) %}
        {% endif %}
        {% if masked_input|default(false) %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' masked-input'}) %}
            {% set attr = attr|merge({'masked-input-mask': masked_input.mask}) %}
            {% set attr = attr|merge({'masked-input-placeholder': masked_input.placeholder}) %}
        {% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
            {% if widget_addon.type == 'append' %}
                {{ block('widget_addon') }}
            {% endif %}
            {% if help_tooltip|default(false) %}
                &nbsp;<a href="#" class="btn help-popover" rel="popover" title="{{ help_tooltip }}"><i class="icon-question-sign"></i></a>
            {% endif %}
            {% if support_text|default(false) %}
                <p class="help-block">{{ support_text }}</p>
            {% endif %}
            </div>
        {% else %}
            {% if help_tooltip|default(false) %}
                &nbsp;<a href="#" class="btn help-popover" rel="popover" title="{{ help_tooltip }}"><i class="icon-question-sign"></i></a>
            {% endif %}
            {% if support_text|default(false) %}
                <p class="help-block"><em>{{ support_text }}</em></p>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget_simple %}